CACHE_DB_HOST=localhost
CACHE_DB_PORT=6379
CACHE_DB=0
LOG_LEVEL=INFO
OTEL_SERVICE_NAME=dias-api
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_LOGS_EXPORTER=otlp
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp
OTEL_METRICS_EXPORT_INTERVAL=5000
OTEL_PYTHON_LOG_LEVEL=INFO